# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

# Compilados Angular
dist/
out-tsc/
build/

# Archivos temporales de Angular y TypeScript
.angular/
.angular-cache/
temp/
.tmp/
*.log

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operativo
.DS_Store
Thumbs.db

# Environments locales
src/environments/environment.local.ts

# Archivos de configuración específicos del usuario
*.local
*.env
*.env.local
